<%= stylesheet_link_tag "index" %>

<body>
    <section>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container">
        <div class="card">
            <div class="card-bottom">
                <h3><b><%= link_to "Products:", products_path %></b></h3> 
                <%= image_tag((@product.Image_URL), :class => "card-img") %>
                <b><%= @product.Name %><br></b>
                <%= @product.Price %><br>
                <%= truncate(@product.Description, :length => 100, :escape => false) %> 
            </div>
        </div>

        <div class="card">
                <div class="card-bottom">
                <h3><b><%= link_to "On Sale!:", product_path(@sale.id)  %></b></h3>
                <%= image_tag((@sale.Image_URL), :class => "card-img") %>
                <b><%= @sale.Name %><br></b>
                <%= @sale.Price %><br>
                <%= truncate(@sale.Description, :length => 100, :escape => false) %> 
            </div>
        </div>

        <div class="card">
            <div class="card-bottom">
                <h3><b><%= link_to "Electronics & Accessories:", catagory_path %></b></h3> 
                <%= image_tag(("macbook.jpeg"), :class => "card-img") %>
                <b><%= @catagories.Name %><br></b>
                <%= @catagories.Price %><br>
                <%= truncate(@catagories.Description, :length => 100, :escape => false) %>
            </div>
        </div>
    </div>

<body>