<%= stylesheet_link_tag "products" %>

<section>
    <% @products.each do |product| %>
       <div class="product">
       
                 <%= image_tag((product.Image_URL), :class => "card-img") %>
        

                <div class="product-info">
                    <%= content_tag( :h3, product.Name, :class => "heading") %><br>
                    
                    <%= truncate(product.Description, :length => 390, :escape => false) %><br>

                    <span class="margin"> Product I.D: <%= product.id %></span><br>
                    <span> Price: €<%= product.Price %></span><br>
                    <span>Catagory: <%= product.Catagory %></span><br>
                    <button class="btn"><%= link_to "More Details", product_path(product.id) %></button>
                </div>
                
            </div>
        <hr>
        
    <% end %>
    <%= will_paginate @products, :class => "padding" %>
<section>

