<!DOCTYPE html>
<html>
  <head>
    <title>ProductService</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <%= render :partial => 'layouts/navigation' %>

    <div class="content">
      <div class="content-inside">
        <%= yield %>
      </div>
    </div>
    
     <%= render :partial => 'layouts/footer' %>

  </body>
</html>
